<head>
<style>
.formsubmitd
{
  	margin: 10px;
	width: 300px;
}
</style>
</head>

<%= form_for @support, html: {class: 'sigPad' } do |f| %>
  <% if @support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% @support.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class ="formsubmitd">
  <p>
I support the Brandeis Canoe Club becoming a Chartered Organization. I understand that it will be given the use of Student 

Union copy machines, the ability to reserve rooms on Campus and the opportunity to go before the Finance Board for funding.

You MUST read this club’s <a href="http://www.isaac26.com/constitution.pdf"> constitution </a> before signing this document. 
  </p>
<form>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :mailbox %><br>
    <%= f.number_field :mailbox %>
  </div>
  
  <form  action="/supports" class="sigPad" id="new_support" method="post">
  <label for="name">Print your name</label>
  <input type="text" name="name" id="name" class="name">
  <p class="typeItDesc">Review your signature</p>
  <p class="drawItDesc">Draw your signature</p>
  <ul class="sigNav">
    <li class="typeIt"><a href="#type-it" class="current">Type It</a></li>
    <li class="drawIt"><a href="#draw-it">Draw It</a></li>
    <li class="clearButton"><a href="#clear">Clear</a></li>
  </ul>
  <div class="sig sigWrapper">
    <div class="typed"></div>
    <canvas class="pad" width="198" height="55"></canvas>
     <input type="hidden" name="output" class="output">
  </div>
  <button type="submit">I accept the terms of this agreement.</button>
  </form>
  <% end %>
  </div>

