<head>
<style>
.porn
{
  	margin: 10px;
	width: 300px;
}
</style>
</head>
<div class="porn">
<%= form_for @member , html: {class: 'sigPad' } do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
I plan on becoming a member of the Brandeis Canoe Club. Should it become a Union 

Organization, I intend to be an active participant in the events and projects of said organization.
 
You MUST read this  <a href="http://www.isaac26.com/constitution.pdf"> club’s constitution </a> before signing this document.
 </p>



  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :mailbox %><br>
    <%= f.number_field :mailbox %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.select :experience, options_for_select(%w[None some extensive]) %>
  </div>
  <div class="dropdown">
    <%= f.label :car %><br>
    <%= f.select :car, options_for_select(%w[Yes no]) %>
  </div>
  <form  action="/signs" class="sigPad" id="new_sign" method="post">
  <label for="name">Print your name</label>
  <input type="text" name="name" id="name" class="name">
  <p class="typeItDesc">Review your signature</p>
  <p class="drawItDesc">Draw your signature</p>
  <ul class="sigNav">
    <li class="typeIt"><a href="#type-it" class="current">Type It</a></li>
    <li class="drawIt"><a href="#draw-it">Draw It</a></li>
    <li class="clearButton"><a href="#clear">Clear</a></li>
  </ul>
  <div class="sig sigWrapper">
    <div class="typed"></div>
    <canvas class="pad" width="198" height="55"></canvas>
     <input type="hidden" name="output" class="output">
  </div>
  <button type="submit">I accept the terms of this agreement.</button>

<% end %>
</div>